.App {
  text-align: center;
}
*{
    outline:none;
}
.app {
    padding: 30px;
    height: 100vh;
}
.title{
    color: rgb(255,193,7);
    margin-left: 130px;
    font-size: 40px;
}
.todo-list {
    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
    padding: 15px 10px 30px;
}
.todo {
    background: #fff;
    padding: 20px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
}
form input {
    width: 100%;
    padding: 20px 0px;
    border-radius: 50px;
    border: 1px solid #e3e3e3;
    text-indent: 23px;
}